*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Corpo da Página*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Cabeçalho*/

header{
    text-align: center;
    background-color: #107fff;
    color: white;
    padding: 40px;
}

/*Configuração geral das seções para responsividade*/

section{
    max-width: 1400px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 0;
}

/*Configuração do menu que mudará de tamanho conforme a tela*/

nav{
    display: flex;
    padding: 15px 0px 15px 0px;
    background-color: #e7e7e7;
    min-width: 180px;
    height: 253px;
    max-height: 220px;
    margin: 20px 20px 20px 20px;
    border-radius: 7px;
    font-size: 18px;
    flex: 1 1 0px;
}

nav li{
    padding: 12px 0px;
    list-style-type: none;
}

nav li img{
    width: 25px;
    height: 25px;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: gray;
    text-decoration: underline;
}

/*Bloco principal onde ficarão os conteúdos*/

div#principal{
    width: 100%;
    background-color: #f0f0f0;
    padding: 15px 0px;
    margin: 20px 20px 20px 20px;
    border-radius: 7px;
    padding: 30px 15px;
    font-size: 18px;
    text-align: justify;
    flex: 1 1 530px;
}

#principal main{
    padding: 10px;
}

/*Configurações do Formulário*/

form .item{
    padding: 10px;
}

form input{
    width: 98%;
    margin-top: 10px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #00000050;
    font-size: 16px
}

form textarea{
    margin-top: 8px;
    padding: 5px;
    width: 98.5%;
    height: 120px;
    border-radius: 3px;
    border: 1px solid #00000050;
    font-size: 16px;
}

form button{
    width: 180px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
}

form button:hover{
    background-color: gray;
}

form #botao{
    margin-top: 15px;
    text-align: center;
}

/*Rodapé*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

h1{
    font-size: 25.9px;
    text-align: center;
}